[core]
        excludesfile = /Users/kaikuchn/.global_gitignore
        editor = vi
[user]
        name = Kai Kuchenbecker
        email = kuchenbecker.k@gmail.com
[alias]
        co = checkout
        st = status
        ci = commit --verbose
        who = config --global user.email
	sf = diff-tree --no-commit-id --name-only -r
	cb = fetch --prune origin
[push]
        default = upstream
[github]
        user = kaikuchn
[commit]
        template = ~/.gitmessage
[pull]
        rebase = true
